<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Settings</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/fav/app.ico}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Spring Todo App</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/settings" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Change Password</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/settings/delete" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Delete Account</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <!-- User Dropdown -->
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span th:text='${username}' class="d-none d-sm-inline mx-1"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="/static">Home</a></li>
                        <li><a class="dropdown-item" href="/settings">Settings</a></li>
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--  Content      -->
        <div class="col py-3">
            <div class="card card-outline-secondary w-50">
                <div class="card-header">
                    <h3 class="mb-0">Change Password</h3>
                </div>
                <div class="card-body">
                    <form class="form" role="form" autocomplete="off" action="javascript:void(0)">
                        <div class="mb-3">
                            <label for="inputPasswordOld"></label>
                            <input type="password" class="form-control" id="inputPasswordOld" required="" placeholder="Current Password">
                        </div>
                        <div class="mb-3">
                            <label for="inputPasswordNew"></label>
                            <input type="password" class="form-control" id="inputPasswordNew" required="" placeholder="New Password">
                            <div class="form-text small text-muted">
                                            The password must be at least 8 characters, and must <em>not</em> contain spaces.
                                        </div>
                        </div>
                        <div class="mb-3">
                            <label for="inputPasswordNewVerify"></label>
                            <input type="password" class="form-control" id="inputPasswordNewVerify" required="" placeholder="Repeat Password">
                            <div class="form-text small text-muted">
                                            To confirm, type the new password again.
                                        </div>
                        </div>
                        <div class="mb-3">
                            <button th:data-name="${username}"
                                    onclick="onChangePassword(this.getAttribute('data-name'))"
                                    type="submit" class="btn btn-success btn-lg float-end">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/settings/settings.js}"></script>
</body>
</html>